/* Глобальные и общие стили */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif; 
}

a {
    text-decoration: none;
}

.container {
    min-width: 1440px;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 0;
    background-color: #ffffff;
    box-sizing: border-box;
}

/* Стили хедера */

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 60px 0 43px;
    margin-top: 2px;
}

.header__logo {
    margin-right: 80px;
}

.models-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.models-menu__item-wrapper {
    position: relative;
}

.models-menu__item {
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    color: #000000;
    margin-right: 44px;
    cursor: pointer;
}

.item-link:hover,
.item-link:active {
    color: #E51937;
}

.item-link:hover::after,
.item-link:active::after {
    content: "";
  
    position: absolute;
    top: 25px;
    left: 0px;
    
    width: 60px;
    height: 2px;
    
    background-image: url("img/underline.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
}

.users-menu {
    padding-top: 16px;
}

.users-menu__item {
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    color: #000000;
    margin-right: 25px;
}

.users-menu__menu-image {
margin-top: 1px;
}

.users-menu__menu-burger_size_mobile {
display: none;
}

/* Первый раздел-знакомство с моделью Model S */

.intro__title {
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 1;
    color: #000000;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 0;
}

.intro__welcome-text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    color: #000000;
    letter-spacing: 0.5;
}

.intro__image-car-wrapper {
    display: flex;
    justify-content: center;
    min-width: 968px;
    background-image: url("img/Tesla-Wordmark-Red.png");
    background-repeat: no-repeat;
    background-position-y: -145px;
    margin-bottom: 30px;
}
.intro__image-car {
    width: 968px;
    height: 450px;
}

.intro__order-advantage-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 321px 0 323px;
}

/* Блок advantage */

.intro__advantage-wrapper {
    display: flex;
    justify-content: space-between; 
    min-width: 315px;
    padding-left: 55px;
    margin-right: 134px;
}

.advantage {
    position: relative;  
}

.advantage__figures {
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    color: #000000;
    margin-right: 2px;
}

.advantage__unit-of-measure {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    color: #000000;
}

.advantage__subject {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.6;
    color: #000000;
}

.advantage__figures_type_speed::before {
    content: "";
  
    position: absolute;
    top: 7px;
    left: -60px;
    
    width: 46px;
    height: 35px;
    
    background-image: url("img/Speed.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantage__figures_type_road::before {
    content: "";
  
    position: absolute;
    top: 3px;
    left: -42px;
    
    width: 31px;
    height: 50px;
    
    background-image: url("img/Road_icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
/* Блок order */

.order {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 290px;
    margin-bottom: 45px;
    margin-top: 8px;
}

.order__test-drive {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}

.order__test-drive::before {
    content: "";
  
    position: absolute;
    top: 8px;
    left: -30px;
    
    width: 46px;
    height: 35px;
    
    background-image: url("img/steering-wheel.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.order__button {
    width: 160px;
    height: 40px;

    border: 2px solid #E51937;
    box-sizing: border-box;

    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;

    color: #E51937;
    background-color: #ffffff;
}

.next-section_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
}

@media only screen and (max-device-width: 480px) {

    .container {
        max-width: 375px;
        min-width: 375px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px 0 2px;
        margin-top: 0;
    }

    .logo {
        width: 138px;
    }

    .users-menu__menu-burger_size_mobile {
        display: inline-block;
        width: 24px;
        height: 15px;
        margin-top: 14px;
        margin-right: 21px;
    }

    .users-menu,
    .models-menu {
        display: none;
    }

    .intro__title {
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .intro__welcome-text {
        font-size: 10px;
        margin-bottom: 49px;
    }
    .intro__image-car-wrapper {
        min-width: 357px;
        background-size: 430px;
        background-position-y: -42px;
        background-position-x: -32px;
        margin-bottom: 30px;
    }

    .intro__image-car {
        width: 357px;
        height: 166px;
    }

    .intro__order-advantage-wrapper {
        width: 375px;
        display: block;
        /* flex-wrap: wrap; */
        margin: 0;
        padding-left: 37px;
        padding-top: 0px;
    }

/* Блок advantage */

.intro__advantage-wrapper {
    min-width: 230px;
    margin-bottom: 39px;
}

.advantage__figures {
    font-size: 27px;
    margin-right: 2px;
}

.advantage__unit-of-measure {
    font-size: 15px;
}

.advantage__subject {
    font-size: 10px;
}

.advantage__figures_type_speed::before {
    top: 2px;
    left: -50px;  
    width: 38px;
    height: 28px;
    background-size: 38px;
}

.advantage__figures_type_road::before {
    top: -3px;
    left: -37px;
    width: 26px;
    height: 41px;
    background-size: 26px;
}
/* Блок order */

.order {

    min-width: 100px;
    max-width: 275px;
    margin-left: 27px;
    margin-bottom: 33px;
}

.order__test-drive {
    color: #E51937;

}

.order__test-drive::before {
    top: 8px;
    background-image: url("img/steering-wheel-red.png");
}

.order__button {
    color: #ffffff;
    background-color: #E51937;
    padding-right: 11px;
}
}

/* Второй раздел- функциональное описание модели S  */

.description {
    position: relative;
}
.description__image-car{
    position: absolute;
}

.description__title {
font-weight: 600;
font-size: 70px;
color: #E51937;
}

.description__main-wrapper {
    position: absolute;
}

.text-title {
    font-weight: 600;
    font-size: 30px;
}

.text {
    font-weight: 500;
    font-size: 15px;
}

.white-text {
    color: #ffffff;
    background-color: #E51937; 
}

.order__know-more::before {

}

.order__button_color_white {
    border-color: #ffffff;

}